*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [content-end] 1fr [full-end];
  grid-template-rows: 50px calc(100vh - 50px) 50vh min-content 40vh 50px; }
  @media only screen and (max-width: 650px) {
    .container {
      grid-template-rows: 50px calc(100vh - 50px) 100vh 50vh min-content 40vh 50px; } }

.About {
  background-color: palevioletred;
  grid-column: content-start / content-end; }

.Contact {
  background-color: darkslateblue;
  grid-column: full-start / full-end; }

.Footer {
  background-color: firebrick;
  grid-column: full-start / full-end; }

.Header__info {
  background-color: darkslateblue;
  grid-column: full-start / col-start 5; }
  @media only screen and (max-width: 650px) {
    .Header__info {
      background-color: aquamarine;
      grid-column: full-start / full-end; } }

.Header__picture {
  background-color: firebrick;
  grid-column: col-start 5 / full-end; }
  @media only screen and (max-width: 650px) {
    .Header__picture {
      grid-column: full-start / full-end;
      grid-row: 2 / 3; } }

.Navbar {
  background-color: palevioletred;
  grid-column: full-start / full-end; }

.Projects {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 4rem; }
  .Projects__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90% 10%;
    justify-items: center;
    height: 200px; }
  .Projects__img {
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
    object-fit: cover; }
